@font-face {
    font-family: 'SourceSansPro';
    src: url('./fonts/SourceSansPro-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SourceSansPro-italic';
    src: url('./fonts/SourceSansPro-It.otf');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'SourceSansPro-bold';
    src: url('./fonts/SourceSansPro-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SourceSansPro-lightItalic';
    src: url('./fonts/SourceSansPro-LightIt.otf');
    font-weight: normal;
    font-style: normal;

}