body{
	padding: 0;
	margin: 0;
	font-family: "SourceSansPro";
	font-weight: normal;
	font-style: normal;
    -webkit-user-select: none;
    background: #e1e1e1;
}
header{
	background: #c1261c;
	height: 90px;
	-webkit-app-region: drag;
}
#logo, #searchForm{
	display: inline-block;
}
#windowControls{
	position: absolute;
	right: 0;
	top: 0;
	-webkit-app-region: no-drag;
}
#logo {
	height: 100px;
	text-align: center;
	width: 100px;
}
#logo img{
	height: 60px;
	margin-top: 15px;
}
#windowControls .window-control {
    float: right;
    border: none;
    width: 35px;
    height: 20px;
    padding: 0;
    margin-left: 3px;
    margin-top: 5px;
    z-index: 9999999999;
    transition: all 0.3s;
    border-radius: 2px;
}
#windowControls .window-control.close {
    background: rgba(0,0,0,0.15) url(../assets/images/close.svg) center;
    margin-right: 5px;
    width: 45px;
}
#windowControls .window-control.maximize {
    background-image: url(../assets/images/maximize.svg);
}
#windowControls .window-control.minimize {
    background: url(../assets/images/minimize.svg);
}
#windowControls .window-control.dev {
    background: url(../assets/images/developer.svg);
}
#windowControls .window-control.reload {
    background: url(../assets/images/reload.svg);
}
#windowControls .window-control.dev:hover {
    background: rgba(0,0,0,0.5) url(../assets/images/developer.svg);
}
#windowControls .window-control.reload:hover {
    background: rgba(0,0,0,0.5) url(../assets/images/reload.svg);
}
#windowControls .window-control.close:hover {
    background-color: rgba(0,0,0,0.5);
}
#windowControls .window-control.maximize:hover {
    background-color: rgba(0,0,0,0.5);
}
#windowControls .window-control.minimize:hover {
    background-color: rgba(0,0,0,0.5);
}
#searchForm{
	position: absolute;
	left: 50px;
	right: 300px;
	text-align: center;
}
#searchForm form input[type="text"]{
	width: 70%;
	border: none;
	background: rgba(255,255,255,0.2);
	color: white;
	font-family: "SourceSansPro";
	font-weight: lighter;
	height: 30px;
	padding: 10px 30px 10px 30px;
	border-radius: 50px;
	margin-top: 20px;
	font-size: 20px;
	outline: none;
	-webkit-app-region: no-drag;
}
#searchForm form input[type="text"]:focus{

	background: rgba(255,255,255,0.3);
}
main{

}
#leftPanel{
	position: absolute;
	left: 0;
	top: 90px;
	bottom: 0;
	background: #111;
	width: 50px;
	overflow: hidden;
	-webkit-transition: width 0.2s cubic-bezier(.07,.7,.6,.96);
	z-index: 1000;
}
#leftPanel:hover{
	width: 200px;
}
.categorie{
	height: 50px;
	width: 200px;
}
.categorie:hover{
	background: rgba(255,255,255,0.3);
}
.categorie.activated{
	background: #c1261c;
}
.categorie.activated:hover{
	background: #e44b42;
}
.categorie .catContent{
	-webkit-transition: -webkit-transform 0.2s cubic-bezier(.07,.7,.6,.96);
}
.categorie:active .catContent{
	-webkit-transform: scale3d(0.96,0.96,0.96);
}
.categorie img{
	float: left;
	width: 20px;
	padding: 15px;
}
.categorie p{
	display: inline-block;
	padding: 0;
	margin: 0;
	height: 50px;
	line-height: 50px;
	margin-left: 10px;
	font-family: "SourceSansPro";
	font-weight: bold;
	color: white;
}
#orderTicket{
	position: absolute;
	right: 10px;
	top: 30px;
	bottom: 10px;
	width: 300px;
	background: white;
    box-shadow: 0px 0px 3px rgb(125, 125, 125);
    border-radius: 3px;
	-webkit-app-region: no-drag;
}
#productsContainer{
	position: absolute;
	left: 50px;
	right: 310px;
	top: 90px;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
}
#productsContainer .productTile{
	width: 200px;
	background: #fff;
	height: 280px;
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 3px;
    box-shadow: 0px 0px 3px rgb(125, 125, 125);
    overflow: hidden;
    display: inline-block;
	-webkit-transition: -webkit-transform 0.2s cubic-bezier(.07,.7,.6,.96);
}
.productTile .price, .productTile .name{
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
}
.productTile .price{
	background: #333;
	color: white;
	font-weight: bold;
	margin-top: -5px;
	font-size: 1.1em;
}
.productTile .name{
	font-size: 20px;
}
.productTile:active {
	-webkit-transform: scale3d(0.96,0.96,0.96);
}